body {
    background: #080000;
    color: rgb(107, 40, 9);
    font-family: 'Crimson Pro', 'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 20px 40px;
    overflow: hidden;
}
.endscreen, .welcome {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(220, 157, 102);
    background: #080000;
    z-index: 50;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 1s;
    padding: 50px;
    display: grid;
    place-content: center;
}
.endscreen {
    z-index: 100;
    display: none;
}
.endscreen > div {    
    padding: 50px;
}
.endscreen h2 {
    font-size: 4em;
}
#slide2, #slide3, #slide4, #slide5 {
    display: none;
}

.welcome__box {
    background: #211;
    border-left: 4px solid firebrick;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    opacity: 1;
    transition: opacity 0.5s;
}

.hide {
    opacity: 0;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 25px;
    grid-template-areas: 
     "time time"
     "sidebar events";
}

.welcome p {
    font-size: 1.1em;
    color: rgb(220, 157, 102);
}
.welcome b {
    color: lightgoldenrodyellow;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: firebrick;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
}

br {
    height: 0.5em;
}

p {
    margin-bottom: 0.5em;
}

ul {
    margin-bottom: 0.5em;
}
li {
    margin-left: 1em;
    margin-bottom: 0.25em;
}

b {
    font-weight: bold;
}

button {
    font-family: 'Crimson Pro', 'Times New Roman', Times, serif;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.229);
    border: none;
    border-left: 4px solid #633;
    border-radius: 4px;
    margin: 5px 0;
    padding: 0 8px;
    text-align: left;
    width: 100%;
    font-weight: bold;
    transition: background 0.15s, border-color 0.15s;
    
}

button:hover {
    border-color: rgba(0,0,0, 0.9);
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0,0,0, 0.9);
    cursor: pointer;
}

.endTurn, .spend, .action {
    background: firebrick;
    border: 3px solid #411;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

 .spend, .action {
    display: inline;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
 }


.icon {
    font-size: 0.75em;
}

.events {
    grid-area: events;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: auto;
    grid-auto-flow: column;
}

.card.wrapper {
    width: 520px;
    height: 700px;
}

.cardBox {
    height: 100%;

    background: hsl(var(--hue), 100%, 3%);
    border: 5px solid hsl(var(--hue), 90%, 25%);
    color: hsl(var(--hue), 100%, 70%);
    box-shadow: 0 2px 10px hsla(var(--hue), 90%, 25%, 0.5);

    border-radius: 15px;
    box-sizing: border-box;
    
    margin: 0 30px;
    
}
.card {
    transition: transform 0.25s;

    opacity: 0;
    height: 100%;
}
.card:hover {
    /* transform: scale(1.5); */
    z-index: 10;
}

.card.show {
    animation: slideIn 0.75s cubic-bezier(.69,1.35,.6,1);
    opacity: 1;
    
}

@keyframes slideIn {
    0% {
        transform:translateY(100px) translateX(100px) scale(0.4) rotate(-40deg);
        opacity: 0;
    }
    50% {
        /* transform:translateY(20px) scale(0.7);   */
        opacity: 1;
    }
    100% {
        transform:translateY(0) scale(1) rotate(0);
    }
}

.card.hide {
    animation: slideOut 0.75s;
    overflow: hidden;
}
.card.shrink {
    animation: shrink 0.75s ease-in-out;
    animation-fill-mode: forwards; 
    max-height: 0px;
    height: 0px;
    overflow: hidden;
    /* opacity: 0; */
}
@keyframes slideOut {
    0% {
        transform:translateY(0); /*scale(1.5); */
        opacity: 1;
    }
    100% {
        transform:translateY(100px);
        opacity: 0;
    }
}
@keyframes shrink {
    0% {
        transform: scaleX(1);
    }
    100% {
        width: 0;
        transform: scaleX(0);
    }
}

.content {
    position: relative;
    height: 100%;
    display:grid;
    padding: 15px;
    box-sizing: border-box;
    grid-template-rows: auto 1fr auto;
}
.cardArt {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    z-index: 10;
    border-radius: 10px;
    box-sizing: border-box;
    background-size: cover;
    cursor: pointer;

    /* background: hsl(var(--hue), 100%, 5%);*/
    border: 5px solid hsl(var(--hue), 90%, 5%);
}

.flip {
    animation: flip 0.4s ease-in-out;
}


@keyframes flip {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}


.eventText {
    background: hsl(var(--hue), 90%, 6%);
    border-top: 4px solid hsl(var(--hue), 100%, 40%);
    color: hsl(var(--hue), 80%, 60%);

    padding: 10px;
    border-radius: 10px;
    font-style: italic;    
}

.stuff {
    padding-top: 10px;
    overflow-y: auto;
}

.stuff::-webkit-scrollbar {
  width: 6px;
  
} 
.stuff::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
} 
.stuff::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 100%, 70%, 0.5);
  border-radius: 5px;
}

.cardBox {
    --hue: 30;
}
.rift {
    --hue: 200;
}
.dragon {
    --hue: 130;
}
.crisis {
    --hue: 350;
}
.opportunity {
    --hue: 230;
}
.opportunity .choiceText {
    color: hsl(var(--hue), 100%, 95%);
}
.battle {
    --hue: 290;
}
.threat {
    --hue: 290;
}
.cardBox.threat {
    background: hsl(var(--hue), 0%, 3%);
    border: 5px solid hsl(var(--hue), 0%, 25%);
    color: hsl(var(--hue), 0%, 70%);
    box-shadow: 0 2px 10px hsla(var(--hue), 0%, 25%, 0.5);
}
.threat .eventText {
    background: hsl(var(--hue), 0%, 6%);
    border-top: 4px solid hsl(var(--hue), 0%, 40%);
    color: hsl(var(--hue), 0%, 60%);
}
.threat .choice {
    background: hsl(var(--hue), 0%, 6%);
    border-top: 4px solid hsl(var(--hue), 0%, 40%);
}
.threat .choiceText {
    background: hsl(var(--hue), 0%, 40%);
    color: hsl(var(--hue), 0%, 2%);
}
.threat .outcome {
    border-color: hsl(var(--hue), 0%, 60%);
    background: hsl(var(--hue), 0%, 80%);
}
.threat .cardArt {
    border: 5px solid hsl(var(--hue), 0%, 5%);
}
.threat .stuff::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 100%, 100%, 0.5);
}


.choice {
    background: hsl(var(--hue), 85%, 6%);
    border-top: 4px solid hsl(var(--hue), 100%, 40%);
    
    position: relative;
    margin-top: 25px;
    padding: 1em 10px 10px;
    display:grid;
    align-items: center;
    border-radius: 10px;
}

.choiceText {
    background: hsl(var(--hue), 100%, 40%);
    color: hsl(var(--hue), 100%, 2%);
    /* border: 4px solid hsl(var(--hue), 100%, 10%); */

    justify-self: center;
    font-weight: 100;
    margin-top: -2.25em;
    padding: 3px 15px;
    font-weight: bold;
    border-radius: 5px;
}

.outcome {
    border-color: hsl(var(--hue), 100%, 60%);
    background: hsl(var(--hue), 75%, 80%);

    padding: 2px 10px;    
    transition: border 0.15s;
}

.outcome:hover {
    background-color: white;
    color: black;
    border-left: 20px solid white;
}

.plain {
    color: rgba(0, 0, 0, 0.657);
}

.or {
    text-align: center;
    font-size: 1.2em;
    padding: 10px 0;
}

.check {
    /* font-weight: bold; */
}

.success,.good {
    color: rgb(0, 96, 0);
}
.failure,.bad {
    color: rgb(158, 0, 0);
}



.sidebar {
    grid-area: sidebar;
    display: grid;
    align-content: start;
    grid-gap: 20px;
}

.stats {
    display:grid;
    /* grid-auto-flow: column; */
    /* grid-template-columns: 1fr auto; */
    justify-content: center;
    align-content: start;
    align-self: start;
    align-items: start;
    color: lightgoldenrodyellow;
    /* position:absolute;
    bottom: 20px; */
    font-size: 1.1em;
    background: #211;
    border-radius: 10px;
    box-shadow: -2px 3px rgba(102, 17, 17, 0.359);
}
.stat {
    border-top: 2px solid rgba(255, 145, 0, 0.063);
    display: grid;
    /* grid-auto-flow: row; */
    grid-template-columns: 20px 140px 20px;
    grid-column-gap: 15px;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
.stat.heading:first-child {
    margin: 0;
    border: none;
    font-size: 1.1em;
    color: antiquewhite;
    text-align: center;
}
.stat.heading {
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    
    color: firebrick;
    margin-top: 0.15em;
    border: none;
    
}

.alliesList {
    grid-column: 2 / span 2;
    font-size: 0.75em;
}

.alliesList li {
    margin-left: 0.25em;
    padding: 0.25em 0 0;
    animation: allyIn 2s;
}

@keyframes allyIn {
    0% {
        font-size: 0em;
        opacity: 0;
    }
    50% {
        font-size: 1em;
        opacity: 0;
    }
}

.seperator {
    display:block;
    margin: 0 auto;
    width: 180px;
    margin-top:2px;
    height: 2px;
    background: firebrick;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.number {
    font-size: 1.1em;
    max-width: 24px;
    max-height: 24px;
    overflow: visible;
    display: grid;
    font-weight: bold;
    place-content: center;
    animation: pop 0.75s ease-out;
    color: antiquewhite;
}
.number.high {
    color: greenyellow;
}
.number.medium {
    color: greenyellow;
}
.number.low {
    color: gold;
}
.number.critical {
    color: red;
}
.number.failed {
    color: magenta;
}

.danger {
    background: #500;
    color: red;
    animation: dangerPulse 2s ease-in-out alternate-reverse infinite;
}

.dangerBig {
    background: #505;
    color: magenta;
    animation: dangerBigPulse 1.2s ease-in-out alternate-reverse infinite;
}

.toolTip {
    display: none;
}
:hover > .toolTip {
    font-size: 0.75em;
    display: block;
    position: absolute;
    width: 300px;
    right: -310px;
    padding-left: 10px;

    z-index: 15;
}
.toolTip > div {
    color: lightgoldenrodyellow;
    background: #211;
    border-left: 4px solid firebrick;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
}

.toolTip p {
    color: magenta;
    padding-top: 10px;
}

.toolTip p:first-child {
    color: red;
    padding-top: 10px;
}


@keyframes dangerPulse {
    from {
        background: #300;
    }
    to {
        background: #200;
    }
}
@keyframes dangerBigPulse {
    from {
        background: #303;
    }

    to {
        background: #202;
    }
}

@keyframes pop {
  0% {font-size: 0em;}
  15% {font-size: 1.5em;}
  100% {font-size: 1em;}
}


.time {
    grid-area: time;
}
.timeBar {    
    width: 100%;
    background: #211;
    border: 4px solid #422;
    position:relative;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-flow: column;
    align-content: center;
    border-radius: 10px;
    box-shadow: -2px 3px rgba(102, 17, 17, 0.359);
}

.timeBarInner {
    --phase: crimson;
    position:absolute;
    left: 0;
    width: 10px;
    height: 100%;
    background: var(--phase);
    border-right: 4px solid var(--phase);
    /* mix-blend-mode: overlay; */
    box-sizing: border-box;
    z-index: 2;
    transition: width 2s, background 1s, border 1s;
    /* transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); */
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#timeBar {
    --phase: beige;
}

.phase2 #timeBar {
    --phase: goldenrod;
}
.phase3 #timeBar {
    --phase: orangered;
}

.phase4 #timeBar {
    --phase: crimson;
}
.phase5 #timeBar {
    --phase: magenta;
}

.skull {
    position: absolute;
    right: -0.5em;
    top: -0.11em;
    font-size: 2em;
    z-index: 10;
}

.timeBarPip {
    border-left: 2px dashed rgba(100,50,50,0.75);
    box-sizing: border-box;
    /* text-align: right;  */
    text-align: center;
    color: #844;
    z-index: 3;
    font-weight: bold;
    padding: 6px 0;
}

.timeBarPip:nth-child(3n+2) {
    border-left: 4px solid rgba(100,50,50,1);
}

.timeBarPip:nth-child(2) {
    border: none;
}